

:root{
  --cinza-claro: #dfd9df;
  --roxo-claro:#000000;
  --verde-agua: #19847F;
  --verde-claro: #9CCAC7;
  --cinza-escuro: #212529;
  --cinza-tabela: #adb5bd;
}

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

}
body{
  background-color: var(--roxo-escuro);

}

body, input{
  font-family: "Dancing Script", cursive; 
  

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}